<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form [formGroup]="registerForm" class="mx-1 mx-md-4" (ngSubmit)="Register()">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        
                        <label class="form-label" for="form3Example1c">Your Name </label>
                          <input type="text" id="form3Example1c" class="form-control" formControlName="Name" 
                          [ngClass]="{ 'is-invalid': submitted && f['Name'].errors }"
                          />
                          <div *ngIf="submitted && f['Name'].errors" class="invalid-feedback">
                            <div *ngIf="f['Name'].errors['required']">
                              Name is required
                            </div>
                            <div *ngIf="f['Name'].errors['pattern']">
                              Enter valid name
                            </div>
                          </div>
                       
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        
                        <label class="form-label" for="form3Example3c">Your Email</label>
                          <input type="text" id="form3Example3c" class="form-control" formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }"
                          />
                          <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
                            <div *ngIf="f['Email'].errors['required']">
                              Email is required
                            </div>
                            <div *ngIf="f['Email'].errors['pattern']">
                              Enter valid email
                            </div>
                          </div>
                        
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        
                        <label class="form-label" for="form3Example4c">Password</label>
                          <input type="password" id="form3Example4c" class="form-control"
                           formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }"
                          />
                          <div *ngIf="submitted && f['Password'].errors" class="invalid-feedback">
                            <div *ngIf="f['Password'].errors['required']">
                              Password is required
                            </div>
                            <!-- <div *ngIf="f['Password'].errors['minlength']">
                              Password must be at least 5 character
                            </div> -->
                            <div *ngIf="f['Password'].errors['pattern']">
                              Password should match the pattern
                            </div>
                          </div>
                        
                      </div>
                    </div>
  
                    <!-- <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        
                        <label class="form-label" for="form3Example4cd">Repeat your password
                          <input type="password" id="form3Example4cd" class="form-control" formControlName="cPassword" [ngClass]="{ 'is-invalid': submitted && f['cPassword'].errors }"
                          />
                          <div *ngIf="submitted && f['cPassword'].errors" class="invalid-feedback">
                            <div *ngIf="f['cPassword'].errors['required']">
                              cPassword is required
                            </div>
                            <div *ngIf="f['cPassword'].errors['pattern']">
                              Enter valid cpassword
                            </div>
                          </div>
                        </label>
                      </div>
                    </div> -->
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
                    <!-- <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <label>Already have an account?
                      <button type="submit" class="btn btn-primary btn-lg">Login</button></label>
                    </div> -->
  
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
